<?xml version="1.0"?>
<module xmlns="http://schema.slothsoft.net/farah/module" xmlns:sfm="http://schema.slothsoft.net/farah/module">
  <!--
Farah Module Manifest

Module: savegame
Vendor: slothsoft
Farah ID: farah://slothsoft@savegame
Composer ID: slothsoft/savegame

Homepage: http://farah.slothsoft.net/modules/savegame
Packagist: https://packagist.org/packages/slothsoft/savegame
GitHub: https://github.com/Faulo/slothsoft-savegame

Llo
-->
  <default-configuration/>
  <assets>
    <directory name="schema">
      <directory name="editor">
        <resource-directory name="20170816" path="20170816" type="application/x-xsd+xml"/>
        <resource-directory name="20170901" path="20170901" type="application/x-xsd+xml"/>
        <resource-directory name="20170907" path="20170907" type="application/x-xsd+xml"/>
        <resource-directory name="20171027" path="20171027" type="application/x-xsd+xml"/>
        <resource-directory name="20171102" path="20171102" type="application/x-xsd+xml"/>
        <resource-directory name="20171117" path="20171117" type="application/x-xsd+xml"/>
        <resource-directory name="20171126" path="20171126" type="application/x-xsd+xml"/>
        <resource-directory name="latest" path="20171126" type="application/x-xsd+xml"/>
      </directory>
    </directory>
  </assets>
</module>
